
body {
    background: linear-gradient(#e66465, #9198e5);
}

* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid purple; */
}
.game-container {
    width: 70vw;
    max-width: 675px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}