
body {
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* outline: 1px solid purple; */
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.game-container {
    width: 70vw;
    max-width: 675px;
    min-width: 365px;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.button-container {
  margin-top: 6vw;
}

.button-container input {
  background: none;
  font-size: 6vh;
  color: white;
  cursor: pointer;
  border: none;
  filter: drop-shadow(3px 3px 1px black); 
}